################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StarForge/.vs/StarForge/FileContentIndex/28cedb6a-3774-428c-a124-61ef8c214a32.vsidx
/StarForge/.vs/StarForge/FileContentIndex/44fbad14-0349-430e-8413-32632f2a2294.vsidx
/StarForge/.vs/StarForge/FileContentIndex/7c3d7016-0d9d-4a78-a795-f435f7e29c2f.vsidx
/StarForge/.vs/StarForge/FileContentIndex/95f91e75-6bfe-4d86-8d40-09ecad13db28.vsidx
/StarForge/.vs/StarForge/FileContentIndex/9790db02-d38b-479b-b2f5-e0980ea18feb.vsidx
/StarForge/.vs/StarForge/FileContentIndex/f59a8f9e-d625-465a-b8ee-0e454f8d521a.vsidx
/StarForge/.vs/StarForge/FileContentIndex/d0f3d652-3414-483d-9b40-505ad232de24.vsidx
