################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StarForge/.vs/StarForge/FileContentIndex/28cedb6a-3774-428c-a124-61ef8c214a32.vsidx
/StarForge/.vs/StarForge/FileContentIndex/44fbad14-0349-430e-8413-32632f2a2294.vsidx
/StarForge/.vs/StarForge/FileContentIndex/7c3d7016-0d9d-4a78-a795-f435f7e29c2f.vsidx
/StarForge/.vs/StarForge/FileContentIndex/95f91e75-6bfe-4d86-8d40-09ecad13db28.vsidx
/StarForge/.vs/StarForge/FileContentIndex/9790db02-d38b-479b-b2f5-e0980ea18feb.vsidx
/StarForge/.vs/StarForge/FileContentIndex/f59a8f9e-d625-465a-b8ee-0e454f8d521a.vsidx
/StarForge/.vs/StarForge/FileContentIndex/d0f3d652-3414-483d-9b40-505ad232de24.vsidx
/StarForge/.vs/StarForge/FileContentIndex/11f05b06-1554-4361-9577-20cec16c435a.vsidx
/StarForge/.vs/StarForge/FileContentIndex/18717cb6-b903-4b25-a5eb-8aac898b9ed9.vsidx
/StarForge/.vs/StarForge/FileContentIndex/4d6a4eca-7bc4-49da-815f-b4dfe54d4cd2.vsidx
/StarForge/.vs/StarForge/FileContentIndex/c22c0e0f-b225-4843-a8d3-a8f207f38ecb.vsidx
/StarForge/.vs/StarForge/FileContentIndex/e3fa6849-da91-4d91-baed-55e86f99a7a3.vsidx
/StarForge/.vs/StarForge/FileContentIndex/14bf84df-92f3-44bc-ac34-7f0ee6fc2f22.vsidx
/StarForge/.vs/StarForge/FileContentIndex/3ef8e863-680a-4810-9356-785b11627ba1.vsidx
/StarForge/.vs/StarForge/FileContentIndex/4a09fc39-b7e3-425f-9d0f-495b28def2dc.vsidx
/StarForge/.vs/StarForge/FileContentIndex/7e34ae5b-f404-43c4-a49b-eb0595fbc473.vsidx
/StarForge/.vs/StarForge/FileContentIndex/aee17153-df63-49c4-82a4-344a819122d7.vsidx
/StarForge/.vs/StarForge/FileContentIndex/2d857b62-c083-4c18-8e33-0578041f25b8.vsidx
/StarForge/.vs/StarForge/FileContentIndex/2eb1256c-f995-4eca-bd66-b9580b7d75ca.vsidx
/StarForge/.vs/StarForge/FileContentIndex/60867694-2f4d-474d-a15f-6b60721b453c.vsidx
/StarForge/.vs/StarForge/FileContentIndex/648dc5a0-70d5-4c18-addc-d1844edc2108.vsidx
/StarForge/.vs/StarForge/FileContentIndex/b01e5d13-2ede-4659-9506-d43b639365f5.vsidx
/StarForge/.vs/StarForge/FileContentIndex/80aa138f-65d9-4fa9-b255-84f95cf441e9.vsidx
/StarForge/.vs/StarForge/FileContentIndex/975c3a9a-8cec-4661-9724-b99bee6571b5.vsidx
